<div class="signBg" style="background-image:url({{ cdn 'login/images/bg-2.jpg' }});">
<h1 style="position: absolute; top: 50%; left: 40%; width: 20%;">The requested page could not be found.</h1>
</div>