<p id="msg">This is chosen-dyn!</p>
<ul>
    <li>Selected "{{vals}}"</li>
</ul>
<ul>
    <li>Options: from can.compute.</li>
</ul>
<ul>
    <li><a href="javascript://" can-click="handlers.test" data-vals="id-1;id-2;id-4">Set value to "id-1;id-2;id-4"</a></li>
    <li><a href="javascript://" can-click="handlers.test" data-vals="id-3">Set value to "id-3"</a></li>
    <li><a href="javascript://" can-click="handlers.test" data-vals="Belts;Chairs;Lamps">Set value to "Belts;Chairs;Lamps"</a></li>
    <li><a href="javascript://" can-click="handlers.test" data-vals="Belts">Set value to "Belts"</a></li>
    <li><a href="javascript://" can-click="handlers.computeId">Set options to "id-1..id-4"</a></li>
    <li><a href="javascript://" can-click="handlers.computeTags">Set options to tags</a></li>
</ul>
<chosen-select name="Country__c" class="input-block-level" data-placeholder="Select your weapons, err, options." data-placeholder-loading="Loading from the server..." can-value="vals" update-trigger="opts" multiple="multiple" data-create-option="true">
    {{#opts}}
        <option value="{{value}}">{{label}}</option>
    {{/opts}}
</chosen-select>