<p id="msg">This is chosen-def!</p>
<ul>
    <li>Selected "{{vals}}"</li>
</ul>
<ul>
    <li>Options: from deferred.</li>
</ul>
<ul>
    <li><a href="javascript://" can-click="handlers.test" data-vals="id-1;id-2;id-4">Set value to "id-1;id-2;id-4"</a></li>
    <li><a href="javascript://" can-click="handlers.test" data-vals="id-3">Set value to "id-3"</a></li>
    <li><a href="javascript://" can-click="handlers.resolve">Resolve deferred</a></li>
    <li><a href="javascript://" can-click="handlers.reject">Reject deferred</a></li>
</ul>
<chosen-select name="Country__c" class="input-block-level" multiple="multiple" data-placeholder="Select your weapons, err, options." data-placeholder-loading="Loading from the server..." deferred-options="d.def" can-value="vals">
</chosen-select>