<p id="msg">This is chosen-dom!</p>
<ul>
    <li>Selected "{{vals}}"</li>
</ul>
<ul>
    <li>Options: from DOM.</li>
</ul>
<ul>
    <li><a href="javascript://" can-click="handlers.test" data-vals="Belts;Chairs;Lamps">Set value to "Belts;Chairs;Lamps"</a></li>
    <li><a href="javascript://" can-click="handlers.test" data-vals="Belts">Set value to "Belts"</a></li>
    <li><a href="javascript://" can-click="handlers.test" data-vals="Pictures">Set value to "Pictures"</a></li>
</ul>
<chosen-select data-placeholder="Select your Tags" multiple="multiple" can-value="vals" data-create-option="true">
	<optgroup label="Fashion">
		<option value="Belts">Belts</option>
		<option value="Clothes">Clothes</option>
		<option value="Underwear">Underwear</option>
	</optgroup>
	<optgroup label="Home &amp; Living">
		<option value="Chairs">Chairs</option>
		<option value="Lamps">Lamps</option>
		<option value="Tables">Tables</option>
	</optgroup>
</chosen-select>